@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

body {
    background: hsl(212, 45%, 89%);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    background: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    border-radius: 1.2rem;
}

main img {
    width: 90%;
    border-radius: 0.6rem;
    margin: 1rem;
}

h1 {
    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
    color: hsl(218, 44%, 22%);
    padding: 0rem 2rem;
    margin-bottom: 1rem;
}

span {
    font-weight: 400;
    text-align: center;
    color: hsl(220, 15%, 55%);
    margin-bottom: 2rem;
    padding: 0rem 2rem;
}

.qrbox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}